<!-- views/accountEdit.ejs -->
<!doctype html>
<html>
<head>
    <title>Right to You!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body class="grey paddingtop">
<div class="container main">
  <div class="col s6 offset-s3 borderclass grey darken-1 z-depth-5">
    <h1 class="center-align thin white-text"><span class="fa fa-sign-in"></span> Edit Information</h1>
      <div class = "row">
        <div class="col s8 offset-s2">
          <ul class="list-group todo-list">
            <li class="list-group-item new-item">
              <form id="user-form">
              <input class="new-item line white-text" placeholder="Edit Name" type="text" />
              <input class="new-job line white-text" placeholder="Edit Job" type="text" /> 
              <input class="new-job line white-text" placeholder="Card Image URL" type="text" /> 
              
              <div class="row">
                    <div class="input-field col s12">
                      
                      <textarea id="textarea1" placeholder= "Edit Bio" class="materialize-textarea new-about line white-text"></textarea>
                      
                    </div>
                  </div>
              <div class="row">
                    <div class="input-field col s12">
                      
                      <textarea id="textarea2" placeholder= "Edit Card Description" class="materialize-textarea new-card line white-text"></textarea>
                      
                    </div>
                  </div>
                  

              
              <button type="submit" class="btn center-align grey darken-3 thin">Submit</button>
              <a href="/profile" class="btn center-align grey darken-3 thin"><span class="fa fa-user"></span> Return to Profile</a>
              </form>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
        <div class="center-align">
            ©2018 RTU-31
        </div>
    </footer>
    
    <!-- Custom Script -->
    <script href='/public/js/view/js' type="text/javascript">
    $(document).ready(function() {
      // Getting a reference to the input field where user adds a new user
      var $newItemInput = $("input.new-item");
      var $newJobInput = $("input.new-job");
      var $newAboutInput = $("textarea.new-about");
      var $newCardInput = $("textarea.new-card");
      // Adding event listeners 
      $(document).on("submit", "#user-form", insertUser);
      // This function inserts a new user into our database and then updates the view
      function insertUser(event) {
        event.preventDefault();
        var user = {
          Username: $newItemInput.val().trim(),
          Jobs: $newJobInput.val().trim(),
          Aboutme: $newAboutInput.val().trim(),
          Card: $newCardInput.val().trim()
        };
    
        $.post("/accountEdit", user);
        $newItemInput.val("");
        $newJobInput.val("");
        $newAboutInput.val("");

        $.post("/search", user);
        $newCardInput.val("");

      }
    });
    
    </script>
  
  </body>
  
  </html>