<!-- views/account.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
    <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
 
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ul class="list-group todo-list">
            <li class="list-group-item new-item">
              <form id="user-form">
              <input class="new-item" placeholder="add a name" type="text" />
              <input class="new-job" placeholder="add a job" type="text" />
              <button type="submit" class="btn btn-default">Submit</button>
              <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Return to Profile</a>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Custom Script -->
    <script href='/public/js/view/js' type="text/javascript">
    $(document).ready(function() {
      // Getting a reference to the input field where user adds a new user
      var $newItemInput = $("input.new-item");
      var $newJobInput = $("input.new-job");
      // Adding event listeners 
      $(document).on("submit", "#user-form", insertUser);
      // This function inserts a new user into our database and then updates the view
      function insertUser(event) {
        event.preventDefault();
        
        var user = {
          Username: $newItemInput.val().trim(),
          Jobs: $newJobInput.val().trim(),
          About: null
        };
        $.post("/account", user);
        $newItemInput.val("");
      }
    });
    
    </script>
  
  </body>
  
  </html>