<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Right to You!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


</head>
<body class= "grey paddingtop">
<div class="container main">

    <div class="center-align button-padding">
        <h1 class="center-align thin white-text headerText"><span class="fa fa-lock"></span> Right to You</h1>

        

        <a href="/login" class="btn grey darken-3 waves-effect waves-light"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn grey darken-3 waves-effect waves-light"><span class="fa fa-user"></span> Signup</a>
    </div>
</div>
</div>

<footer class="page-footer">
    <div class="center-align">
        ©2018 RTU-31
    </div>
</footer>
</body>

</html>