<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Right to You!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


</head>
<body class= "grey">
<div class="container main">

    <div class="center-align button-padding">
        <h1 class="center-align thin white-text headerText"><span class="fa fa-lock"></span> Right to You</h1>

        

        <a href="/login" class="btn grey darken-3 waves-effect waves-light"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn grey darken-3 waves-effect waves-light"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Right To You!</h5>
                    <p class="grey-text text-lighten-4">Right to you is a convenience app that is designed to allow you to stay at home while services come to you. In the same aspect, we make it easier for clients to come find you for your wonderful services!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/catdog990/RTU_31">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                ©2018 RTU-31
            </div>
        </div>
    </footer>
</body>
</body>
</html>