<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

   


</head>
<style>
    .header-avatar{
        padding-top: 45%;
        width: 30px;
        height: 30px;
        margin-right:10px;
    }
    .brand-logo{
        margin-left: 20px;
    }
    .footer-copyright{
        text-align: center;
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

  .main {
    flex: 1 0 auto;
  }

</style>
<body class="grey">
    <nav class="row">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo white-text">RTU</a>   
            <ul class="right">               
                <li>    
                    <div class="center row">
                        <div class="col s12 " >
                            <div class="row" id="topbarsearch">
                                <div class="input-field col s6 s12 white-text">
                                    <i class="white-text material-icons prefix">search</i>
                                    <input type="text" placeholder="Search"  class="autocomplete white-text" >
                                </div>
                            </div>
                        </div>
                    </div>          
                </li>                     
                <li><a href="/logout" class="white-text">Log Out</a></li>
                <li><img src="https://cdn.pixabay.com/photo/2016/03/31/19/58/avatar-1295430_960_720.png" alt="" class="circle responsive-img header-avatar"></li>
            </ul>
        </div>
    </nav>  
    <div class="container main">
        <div class="row">
            <div class="col s7">
                <h2 class= "white-text thin">About me:</h2>
                <div class="borderProfile grey darken-1 z-depth-1">
                <p></p> <%= stuff.About %><br> 
                </div>
            </div>
            <div class="col s5">
                <div class="card borderclass">
                    <div class="card-image">
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">My Info:</span>
                        <a href="/accountEdit"class="btn-floating halfway-fab waves-effect waves-light red lighten-1"><i class="material-icons">edit</i></a>
                    </div>
                    <div class="card-content grey darken-2">
                        <p class="white-text thin">
                            <strong>Name</strong>: <%= stuff.User %><br>
                            <strong>Job</strong>: <%= stuff.Job %><br>
                            
                        </p>            
                    </div>
                </div>
            </div>
        </div>
    </div>

      <footer class="page-footer">
        <div class="center-align">
            ©2018 RTU-31
        </div>
    </footer>

    

</body>
</html>
