<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <title>Search</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>


<body>
  <html>
      <div class="container">
          <div class="results">
              <% for(var i=0; i < stuff.length; i++) { %>
                <tr>
                  <td><%= stuff[i].User %></td>
                  <td><%= stuff[i].Job %></td>
                </tr>
             <% } %>

          </div>
          
        </div>
 


    <form id="user-form">
        <input class="new-job" placeholder="add a job" type="text" />
        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Return to Profile</a>
        </form>
  </html>



  </body>
      <script>
           $(document).ready(function() {
      
      
      var $newJobInput = $("input.new-job");
      // Adding event listeners 
      $(document).on("submit", "#user-form", findJob);
      // This function sarches for a job
      function findJob(event) {
        
        
        var user = {
          jobSearch: $newJobInput.val().trim()
        };
    
        $.post("/search", user);
        $newJobInput.val("");
        location.reload();
      }
    });
           

        
      </script>
