<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <title>Search</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>


<body class ="grey">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  
   
 <script>
           $(document).ready(function() {
      
      
      var $newJobInput = $("input.new-job");
      // Adding event listeners 
      $(document).on("submit", "#user-form", findJob);
      // This function sarches for a job
      function findJob(event) {
        
        
        var user = {
          jobSearch: $newJobInput.val().trim()
        };
    
        $.post("/search", user);
        $newJobInput.val("");
        location.reload();
      }
    });
           

        
      </script>


   <nav class="row">
        <div class="nav-wrapper">
            <a href="/profile" class="brand-logo white-text" >RTU</a>   
            <ul class="right">               
                <li>    
                    <div class="center row">
                        <div class="col s12 " >
                            <div class="row" id="topbarsearch">
                                <div class="input-field col s6 s12 white-text">
                                    
                                </div>
                            </div>
                        </div>
                    </div>          
                </ul>
        </div>
    </nav>  
  

   <form id="user-form">
        <input class="new-job" placeholder="Search Jobs" type="text" />
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
  


<div class="row">
    <% for(var i=0; i < stuff.length; i++) { %>
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src= '<%= stuff[i].Image %>' style = "width: 400px; height: 400px;">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= stuff[i].User %><i class="material-icons right"></i></span>
      <p><a href="#">123-456-7899</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= stuff[i].Job %><i class="material-icons right">close</i></span>
      <p><%= stuff[i].Card %></p>
    </div>
  </div>
          
             <% } %>
     
    </div>

<footer class="page-footer">
        <div class="center-align">
            ©2018 RTU-31
        </div>
    </footer>
     
         
<style>
.card{
  float: left;
  margin: 30px;
  margin-left: 40px;
},

</style>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  </body>
  </html>
